<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequency Chart</title>
    <link rel="icon" type="image/x-icon" href="Img/graphic.ico">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/topNav.css">
    <script type="text/javascript" src="script/jquery-3.7.1.min.js"></script>
    <style>
    </style>
    <script>
        function UUIDv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'
                .replace(/[xy]/g, function (c) {
                    const r = Math.random() * 16 | 0,
                        v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
        }

        Array.prototype.extend = function (other_array) {
            other_array.forEach(function (v) { this.push(v) }, this);
        }
    </script>
</head>

<body class="dark timeline-vertical">
    <div class="topnav">
        <!-- <button onclick="showAllGroups()">відобразити всі приховані</button> -->
        <button onclick="toggleBackground()">приховати фонові</button>
        <button class="right" theme>Тема</button>
    </div>
    <div id="chart"></div>
</body>

<script type="text/javascript" src="script/vis-timeline-graph2d.min.js"></script>
<script type="text/javascript" src="script/chart.js"></script>
<script type="text/javascript" src="data/known.js"></script>
<script type="text/javascript" src="data/uav.js"></script>
<script type="text/javascript" src="data/EW.js"></script>

<link rel="stylesheet" href="style/main.css">
<link rel="stylesheet" href="style/tableElements.css">

<link rel="stylesheet" href="style/light.css">
<link rel="stylesheet" href="style/dark.css">

<script>
    $('[theme]').click(function () {
        $('body').toggleClass('light').toggleClass('dark');
    });

    function showAllGroups() {
        groups.forEach(function (group) {
            groups.update({ id: group.id, visible: true });
        });
        items = new vis.DataSet(itemsSets);
    }

    var s = itemsSets;
    function toggleBackground() {
        if(!!s.find(x => x.key !== undefined)){
            s = itemsSets.filter(x => x.key === undefined);
        }
        else{
            s = itemsSets;
        }
        timeline.setItems(s);
    }
</script>

</html>